# APP
PORT=8000
STRIPE_SECRET_KEY=sk_stripe_secret_key
BASE_URL=localhost:8000
SECRET_KEY=user_defined-my_secret_key
API_KEY=sk-openai_secret_key
POSTGRES_URL="postgresql://user:password@..."
SQLITE_URL="file:./dev.db"