<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Manager</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">
    <header><!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark container-fluid" style="position: fixed; width: 100%;top: 0%;">
            <div class="container">
                <!-- Logo and Image -->
                <a class="navbar-brand" href="#">
                    <img src="/static/images/devhero.png" width="50" height="50" class="d-inline-block align-top"
                        alt="Imagen de developer hero">
                </a>

                <!-- Navigation Links -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <!-- Example of a navigation link -->
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/recommendation">AskGPT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/buy">Buy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/manage">Manage</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/payments">Payments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="catalog">
    </header>
    <div class="container mt-3">
        <!-- Lista de productos -->
        <div class="bg-white shadow p-3 mb-3 rounded">
            <!-- Bootstrap Table -->
            <h1 class="text-center mb-4">Books</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Imagen</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in products %}
                    <tr>
                        <td>{{ [i][0].id }}</td>
                        <td>{{ [i][0].name }}</td>
                        <td>{{ [i][0].description }}</td>
                        <td>
                            {% if [i][0].image %}
                            <img src="{{[i][0].image }}" alt="{{ [i][0].name }}" style="width:100px;">
                            {% endif %}
                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm"
                                onclick="archiveProduct('{{[i][0].id }}')">Archive</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <p>








    </p>






    <!-- Aquí tus scripts de JavaScript para manejar las acciones de los botones -->
    <script>
        async function archiveProduct(product_id) {
            var result = await fetch(`/api/products/product/archive/${product_id}`, {
                method: "DELETE",
                headers: {
                    "Content-Type": "application/json"
                },
            })
                .then(response => response.text())
                .then(result => console.log(result))
                .catch(error => console.log('error', error));
        }

        async function unarchiveProduct(product_id) {
            var result = await fetch(`/api/products/product/unarchive/${product_id}`, {
                method: "PUT",
                headers: {
                    "Content-Type": "application/json"
                },
            })
                .then(response => response.text())
                .then(result => console.log(result))
                .catch(error => console.log('error', error));
        }
    </script>
</body>
<footer class="mt-auto py-3 bg-dark text-white" style="position: fixed; bottom: 0; width: 100%;">
    <h1 class="text-center">Codebook</h1>
    <div class="container">
        <p class="text-center">Copyright © 2024</p>
    </div>

</footer>
</html>