<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
        <!-- Incluye Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body class="bg-gray-100">
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <!-- Logo and Image -->
                <a class="navbar-brand" href="#">
                    <img src="/static/images/devhero.png" width="50" height="50" class="d-inline-block align-top"
                        alt="Imagen de developer hero">
                </a>
    
                <!-- Navigation Links -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <!-- Example of a navigation link -->
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/recommendation">AskGPT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/books">Books</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/payments">Payments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    <div id="catalog">

<!-- Main Content -->
<div class="container mx-auto mt-8">
    <div class="bg-white shadow-lg rounded-lg p-6">
        <h2 class="text-2xl font-semibold text-center text-gray-800 mb-4">Books Information</h2>
      
           <!-- Bootstrap Table -->
<div class="container mt-4">
<!-- recommendation.html -->
<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Descripcion</th>
        </tr>
    </thead>
    <tbody>
        {% for link, nombre, imagen, desc in links_y_productos %}
            <tr>

                <td>
                    {% if imagen %}
                    <img src="{{ imagen[0] }}" alt="Imagen de un libro" class="img-thumbnail" style="width: 150px; height: auto;">

                    {% else %}
                        <!-- Puedes mostrar un marcador de posición o un mensaje si no hay imagen -->
                        No hay imagen disponible
                    {% endif %}
                </td>
                <td>{{ nombre }}</td>
                <td>
                    <a href="{{ link }}" class="text-blue-600 hover:text-blue-800 transition duration-300 mr-2">{{ desc }}</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

</div>
                            
                               
<p>





                                        


</p>





      
    </div>
</div>


    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
<footer class="footer mt-auto py-3 bg-dark text-white text-center">
    <h1>Codebook</h1>
</footer>
</html>
