<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeBooks - Discover Knowledge</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"></link>
    <style>
        body {
            font-family: 'Inter', sans-serif;
        }
    </style>
</head>

<body class="bg-gray-100">
    <header class="bg-white py-4">
        <div class="max-w-7xl mx-auto px-4">
            <div class="flex justify-between items-center">
                <img class="object-cover object-center rounded" alt="Imagen de developer hero" src="/static/images/devhero.png" width="100" height="100" />
                <nav>
                    <a href="#" class="text-gray-600 hover:text-gray-900 px-3 py-2 rounded-md text-sm font-medium">Home</a>
                    <a href="#" class="text-gray-600 hover:text-gray-900 px-3 py-2 rounded-md text-sm font-medium">Features</a>
                    <a href="#" class="text-gray-600 hover:text-gray-900 px-3 py-2 rounded-md text-sm font-medium">Pricing</a>
                </nav>
            </div>
        </div>
    </header>

    <main class="container mx-auto flex px-5 py-24">
        <div class="flex flex-wrap -mx-4">
            <!-- Main Content Column -->
            <div class="px-4 w-full lg:w-1/2">
                <div class="mb-10">
                    <!-- <img class="object-cover object-center rounded" alt="Placeholder image of a bookshelf with various books" src="/home/chien/payment-gateway/app/static/images/codebook.jpeg" /> -->
                    <img class="object-cover object-center rounded" alt="Imagen de un libro" src="/static/images/codebook.jpeg" />

                </div>
                <div class="text-center">
                    <h1 class="sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Discover a World of Knowledge at CodeBooks</h1>
                    <p class="mb-8 leading-relaxed">Unlock the treasures of knowledge with our extensive library of e-books.</p>
                    <div class="flex justify-center">
                        <a class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg" href="https://api.whatsapp.com/send?phone=573054726865">Contact</a>
                        <a class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg" href="http://localhost:8000/register">Sign Up</a>
                    </div>
                </div>
            </div>
            <!-- Login Form Column -->
            <div class="px-4 w-full lg:w-1/2">
                <div class="bg-white rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
                    <h2 class="text-gray-900 text-lg font-medium title-font mb-5">Sign In</h2>
                    <form action="/api/users/login" method="post">
                        <div class="relative mb-4">
                            <label for="email" class="leading-7 text-sm text-gray-600">Email</label>
                            <input type="email" id="email" name="email" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required>
                        </div>
                        <div class="relative mb-4">
                            <label for="password" class="leading-7 text-sm text-gray-600">Password</label>
                            <input type="password" id="password" name="password" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required>
                        </div>
                        <button type="submit"  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-2 focus:outline-none focus:shadow-outline">Sign In</button>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <!-- The rest of your HTML content like footer goes here -->
</body>

</html>
