<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPT Response</title>
    <!-- Incluye Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <!-- Logo and Image -->
            <a class="navbar-brand" href="#">
                <img src="/static/images/devhero.png" width="50" height="50" class="d-inline-block align-top"
                    alt="Imagen de developer hero">
            </a>

            <!-- Navigation Links -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <!-- Example of a navigation link -->
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/recommendation">AskGPT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/buy">Buy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/manage">Manage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/payments">Payments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        <label for="question">Ask about some book you want to buy:</label>
        <input type="text" id="question" class="form-control mb-2" placeholder="Type your question...">
        <button onclick="askGPT(document.getElementById('question').value)" class="btn btn-primary">I want to know</button>
       
        <div class="mt-3">
            <div class="mt-4 p-4 bg-gray-50 rounded-lg">
                <div class="container">
                    <div class="row justify-content-center">
                        <!-- Ajustar aquí las clases de la columna para controlar el ancho -->
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header bg-primary text-white justify-content-center">
                                    <p class="text-gray-800 justify-content-center">GPT Response will be displayed here after asking questions.</p>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Tags:</p>
                                    <div class="d-flex flex-wrap">
                                        <span class="badge badge-primary m-1">Textos para ti</span>
                                    </div>
                              
                                    <div class="d-flex flex-wrap" style="word-wrap: break-word;">
                                        <p id="gptResponse">""</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="d-flex align-items-center justify-content-center">
        <h4>Tambien te recomendamos</h4>
    </div>

    <!-- Main Content -->
    <div class="container mx-auto mt-8">
        <div id="bookCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for link, nombre, imagen, desc in links_y_productos %}
                <div class="carousel-item {% if loop.first %}active{% endif %}">
                    <div class="d-flex align-items-center justify-content-center">
                        <div>
                            <h3 style="color:orange;">{{ nombre }}</h3>
                            <div class="d-flex align-items-center justify-content-center">
                                {% if imagen %}
                                <img src="{{ imagen[0] }}" alt="Imagen de un libro" class="img-thumbnail" width="300"
                                    height="auto">
                            </div>
                            {% else %}
                            <!-- Puedes mostrar un marcador de posición o un mensaje si no hay imagen -->
                            No hay imagen disponible
                            {% endif %}
                            <div class="d-flex align-items-center justify-content-center">
                                <a href="{{ link }}" class="btn btn-success">Buy Now</a>
                            </div>

                            <p>

                            </p>

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <a class="carousel-control-prev" style="color: black;" href="#bookCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" style="color: black;" href="#bookCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    </div>

    <!-- Incluye Bootstrap JS y dependencias (jQuery) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/static/js/script.js">
    </script>
</body>

<footer class="footer mt-auto py-3 bg-dark text-white text-center">
    <h1>Codebook</h1>
</footer>

</html>